* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background: #ccc;
  }
  
  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
  }
  
  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }
  
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;

    background-image: url("../img/logo.png");
    background-size: 120px 120px;
    background-repeat: no-repeat;
    padding-left: 100px;
    -webkit-filter: drop-shadow(10px 10px 10px rgba (0,0,0,1));
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,1));

    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  
  /* Your CSS below here */

  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: absolute;
    background-image: 
        url("../img/top-image.png"), 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 10%, transparent 20%, transparent 50%, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 0.2)), 
        url("../img/bottom-image.png");
        background-size: 100% 50px, auto, 100% 50px;
        background-position: top, center, bottom;
        background-repeat: no-repeat, no-repeat, no-repeat;
    background-color: white;
    border: 1mm solid #666;
  }