body {
    font-family: 'Times New Roman', Times, serif;
    width: 350px;
    background-color: #ff4de4;
  }

  label {
    font-weight: bold;
  }

  div {
    padding-bottom: 30px;
  }

  input[type="text"] {
    padding: 5px;
    width: 150px;
  }

  p {
    background: #fff15a;
    color: #280a5e;
    padding: 10px;
    visibility: hidden;
  }